.recipe_conatiner_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.recipe_conatiner {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
}

.recipe_conatiner_wrapper input {
  width: 250px;
  height: 20px;
  padding: 8px;
  border-radius: 5px;
  margin: 20px;
  border: 0.5px solid gray;
  box-shadow: rgba(186, 186, 192, 0.2) 0px 7px 29px 0px;
}

.recipe_conatiner_wrapper input:hover {
  transform: scaleX(1.06);
}
